.container {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    list-style-type: none;
    padding: 0 15px;
}

.nav-logo {
    width: 100px;
}

.header {
    border: 1px solid black;
}

.nav-bar {
    padding: 20px;
    font-size: 20px;
}

.restorant-card-img {
    width: 200px;
    height: 200px;
}

.restorant-card {
    padding: 10px;
    width: 200px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.restorant-card:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.filter-button {
    padding: 5px;
    margin: 10px;
}

.shimmer-item {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: rgb(180, 178, 178);
}
 
.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.login-logout {
    padding: 10px;
}